/* App.css */

.carousel {
    display: flex; 
     justify-content: center; 
     align-items: center;
    width: 100%;
    position: relative;
   
  }

  .imgbuttContainer{
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    width: 51%;
    /* background-color: red; */
        
  }
  
  .carousel img {
    width: 600px;
    height: 400px;
    position: absolute;
    border-radius: 6px;
    border: 1px solid black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel img.visible {
    opacity: 1;
  }
  
  .carousel img.hidden {
    opacity: 0;
  }
  
  /* Ensure buttons are below images */
  .prevButton,
  .nextButton {
    background-color: #333333bc;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
  }

  .prevButton{
    z-index: 1;
    
  }

  .nextButton{
    z-index: 1;
  }
  


  /* Media query for small screens */
@media screen and (max-width: 768px) {

    .carousel img {
        width: 100%;
        height: auto;
       
        
    }
}


@media screen and (max-width: 768px) {

    .imgbuttContainer{
        width: 100%;
    }
}