/* App.css */

.carousel {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    position: relative;
    
  }
  
  .carousel img {
    width: 600px;
    height: 400px;
    position: absolute;
    border-radius: 6px;
    border:  1px solid black;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.5s ease-in-out; /* Apply transition */
  }
  
  .carousel img.visible {
    opacity: 1; /* Make visible images fully opaque */
  }
  
  .carousel img.hidden {
    opacity: 0; /* Hide images by making them fully transparent */
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
  